
.jumbotron {
  /* background-color: #f4511e; */
  color: #ffffff;
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;    
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("../src/assets/img/hero_bkgd2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;  
}

.jumbotron-heading{
  font-size: 3.25rem;
  font-weight: 400;
  line-height: 3.25rem;
  margin-bottom: 7rem;
  font-family: 'Source Sans Pro', sans-serif;  
}

.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.08rem;
}
/* .container-fluid {
  padding: 0px 50px;  
} */

.logo {
  font-size: 75px;  
}

.aboutLogo {
  width: 35%;
  height: 100%;
  /* margin-bottom: 10px; */
}
/* header.masthead {
  background-image: url("../src/assets/img/hero_bkgd.jpg");
} */


/* iPad Width is only 768px */
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .hideCol {
    display: none;
  }

  
} 

@media screen and (min-width: 768px) {
  .servicesTop {
    margin-bottom: 20px;
  }
}

.text-center {
  text-align: center;
}

.center{
  text-align: center;
  width: 100%
}

/* .portfolioContainer {
  background-color: whitesmoke;
} */

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.carouselItem h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight:  400;
  font-style: italic;
  margin: 70px 0;  
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important;
}

section#contact form#contactForm p.help-block {
  margin: 0;
}



#about {
  background-color: white;
  font-family: 'Lora', serif;
}

#about h2 {
  font-weight:bold;
}

#services {
  font-family: 'Lora', serif;
  /* margin-top: 20px; */
  background-color: #5278BD;
  color: white;
}

#services h2 {
  font-weight: bold;
}

/* .servicesTop {
  margin-bottom: 20px;
} */

#portfolio {
  font-family: 'Lora', serif;
  margin-top: 20px;
  
}

#portfolio h2 {
  font-weight: bold;
}

#carousel {
  margin-top: 20px;
  background-color: #5278BD;
  
  
}

#contact {
  font-family: 'Lora', serif;
  margin-top: 20px;
  background-color: #5278BD;
  
}

#contact h2 {
  font-weight: bold; 
}
