
.jumbotron {
  /* background-color: #f4511e; */
  color: #ffffff;
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;    
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("../src/assets/img/hero_bkgd2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;  
}

.jumbotron-heading{
  font-size: 3.25rem;
  font-weight: 400;
  line-height: 3.25rem;
  margin-bottom: 7rem;
  font-family: 'Source Sans Pro', sans-serif;  
}

.jumboLogo {
  /* height: 50%; */
  /* width: 50%; */
  /* background-color:black; */
  position:relative;
  /* margin-right: 50px; */
  /* float:left; */
  /* padding-top: 6.5%; */
  /* padding-bottom: 6.5%; */
  /* margin: 2em auto; */
  /* width: 16em; */
  /* height: 9em; */ 
  
  outline:3px solid white;
  outline-offset:30px;
  
  /* border:50px solid transparent; */
  /* border-width:250px 50px 50px 50px; */
  /* margin:-50px 0 0 0px; */
  }

  /* .imageBlock img {
    position:relative;
    padding-top: 6.5%;
    padding-bottom: 6.5%;

  }

  .imageBlock span {
    display: block;
    position: relative;
  }

  .imageBlock span::before {
    content: ' ';
    display: block;
    width: 22%;
    height: 65%;
    position: absolute;
    left: -1.5%;
    top: 14%;
    background: #FEC606;
  } */



  @media (min-width: 1200px) {
    .jumboLogo {
      height: 30%;
      width: 30%;
   }   
  }

  @media (min-width: 992px) {
    .jumboLogo {
      height: 30%;
      width: 30%;
   }   
  }

  @media (min-width: 768px) {
    .jumboLogo {
      height: 40%;
      width: 40%;
   }
  }
  /* Portrait tablets and Large Phones */
  @media (min-width: 600px) {
    .jumboLogo {
      height: 50%;
      width: 50%;
   }
  }
  /* Extra Small Devices */
  @media (max-width: 600px) {
   .jumboLogo {
      height: 70%;
      width: 70%;
   }
  }
  

.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.08rem;
}
/* .container-fluid {
  padding: 0px 50px;  
} */

.logo {
  font-size: 75px;  
}

.aboutLogo {
  width: 35%;
  height: 100%;
  /* margin-bottom: 10px; */
}
/* header.masthead {
  background-image: url("../src/assets/img/hero_bkgd.jpg");
} */


/* iPad Width is only 768px */
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .hideCol {
    display: none;
  }

  
} 

@media screen and (min-width: 768px) {
  .servicesTop {
    margin-bottom: 20px;
  }
}

.text-center {
  text-align: center;
}

.center{
  text-align: center;
  width: 100%
}

/* .portfolioContainer {
  background-color: whitesmoke;
} */

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.carouselItem h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight:  400;
  font-style: italic;
  margin: 70px 0;  
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important;
}

section#contact form#contactForm p.help-block {
  margin: 0;
}

/* About Section ----------------------------------- */

#about {
  background-color: #f3f5fa;
  font-family: 'Lora', serif;
}

#services {
  font-family: 'Lora', serif;  
}

.section-title {
  text-align: center;
  padding-bottom: 0px;  
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/* ----------------------------------- */


/* Services Section ----------------------------------- */

.section-title-other {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 30px;  
}

.section-title-other h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title-other h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title-other h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title-other p {
  margin-bottom: 0;
}

.servicesBorder {
  color: #37517e;  
}

/* ----------------------------------- */






/* Portfolio Section ----------------------------------- */
#portfolio {
  font-family: 'Lora', serif;
  padding-top: 20px;
  background-color: #f3f5fa;
}

#portfolio h2 {
  font-weight: bold;
}

/* ----------------------------------- */

/* Carousel Section ----------------------------------- */
#carousel {
  padding-top: 20px;
  background-color: #5278BD;  
}

/* ----------------------------------- */

/* Contact Section ----------------------------------- */
#contact {
  font-family: 'Lora', serif;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #f3f5fa;
  
}

#contact h2 {
  font-weight: bold; 
}

.pull-right {
  float: right;
}

@media screen and (max-width: 576px) {
  .name {
    padding-top: 10px;
  }

  .email {
    padding-top: 20px;
  }

  .contactInfo {
    text-align: center;
  }

 
  
} 
/* ----------------------------------- */

/* Footer Section ----------------------------------- */
#footer {
  font-size: 15px;
  background: #37517e;
}

#footer .copyright {
  float: left;
}

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}

/* ----------------------------------- */